plugin/*~
plugin/src/*~
plugin/*.coq.bak
plugin/*.cmi
plugin/src/*.ml.d
plugin/src/*.cmo
plugin/src/*.cmx
plugin/src/*.cmxs
plugin/src/*.ml
plugin/src/*.o
plugin/src/*.ml4.d
plugin/src/*.cmi
plugin/theories/.ASTPlugin.vo.aux
plugin/theories/ASTPlugin.glob
plugin/theories/ASTPlugin.v.d
plugin/theories/ASTPlugin.vo
plugin/Makefile.coq
