*~
*.coq.bak
src/*~
src/*.cmi
src/*.ml.d
src/*.mli.d
src/*.mlpack.d
src/*.cmo
src/*.cmx
src/*.cmxs
src/*.o
src/*.ml4.d
src/*.cmi
theories/.ASTPlugin.aux
theories/ASTPlugin.glob
theories/ASTPlugin.v.d
theories/ASTPlugin.vo
Makefile.coq
